.fill-bar {
    width: 100%;
    height: 100%;
}

.fill-bar__area {
    position: absolute;
}

.fill-bar__image {
    position: absolute;
}

.section__content-container {
    width: 100%;
    height: 100%;
}

.visibility-toggle {
    visibility: hidden;
}

.visibility-toggle.visibility-toggle--shown {
    visibility: visible;
}
